<a href="https://colab.research.google.com/github/jasonfangmagic/Stackoverflow/blob/main/Stackoverflow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Databricks

R to SparkDataframe to Python

In [ ]:

%r
library(SparkR)
df <- createDataFrame(df_ns_weekly_units)
createOrReplaceTempView(df, "test_df")
head(df)

In [ ]:
%python
df = spark.sql("select * from test_df")
df.show()

In [ ]:
%python
py_df_ns_weekly_units = df.toPandas()

In [ ]:
%python
py_df_ns_weekly_units.head()

Only use matplotlib 3.2.0. Install before convert Spark dataframe to pandas. Date July 18th, 2022

In [ ]:
%python 
pip install matplotlib==3.2.0

R to SparkDataframe to Spark sql dataframe

In [ ]:
%r
library(SparkR)
df <- createDataFrame(df_ns_spend_spread)
createOrReplaceTempView(df, "test_df")

In [ ]:
%python
df = spark.sql("select * from test_df")

In [ ]:
################# Drop table first if "Spend" exists
#%sql
#DROP TABLE Spend;

In [ ]:
%python
df.write.option('header','true').saveAsTable("Spend")

In [ ]:
%sql
select * from Spend

#Data Manipulation

Numpy to Pandas

In [ ]:
y_pred = pd.DataFrame(y_pred, columns = ['paid_units_pred'])

Drop Index

In [ ]:
y_test = y_test.reset_index(drop=True)

Find position of the outlier

In [ ]:
%python
#find position of the outlier
i, j = (df.applymap(lambda x: str(x).startswith('Y'))).values.nonzero()
t = list(zip(i, j))
print (t)

Get Dummy Variables

In [ ]:
%python
df = pd.get_dummies(df, prefix=['move_units'], 
                    columns=['move_units'])

In [ ]:
%python
df = df.drop(['move_units_N'],axis=1)

Series to Dataframe. When df.shape = (10,), Change it to (10,1)

In [ ]:
test = test.to_frame()

Pandas meet two conditions

In [ ]:
test = xy[(xy['fiscal_year'] == MODEL_TEST_FISCAL_YR) & (xy['fiscal_quarter'] == MODEL_TEST_FISCAL_QTR)]

Group by in Python

In [ ]:
train1 = train.groupby(['fiscal_year','fiscal_quarter']).sum()

## Pandas where clause in SQL

y = df[(df['fiscal_year'] == MODEL_TEST_FISCAL_YR) & (df['fiscal_quarter'] == MODEL_TEST_FISCAL_QTR)]


y = df[(df['fiscal_year'] == 2020) & (df['fiscal_quarter'] == 1)]

#Time Series

# Set Time Series Frequency

https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#anchored-offsets

In [ ]:
X1=X1.asfreq('W-SAT')
print(pd.infer_freq(X1.index))

New Row in R

In [ ]:
df_ns_spend_spread[nrow(df_ns_spend_spread) + 1,] <- c(as.Date.numeric("2022-07-02"), 2023,2, "Americas",468.38 ,0,2334, 20,10, 20,20,10, 20,10, 20,20,10, 27)

Convert all string columns to numeric in R

In [ ]:
df_ns_email_spread = df_ns_email_spread %>% mutate_if(is.character,as.numeric)

Excel Find number based on text

#Evaluation

Regression

In [ ]:
%python
MSE = mse(y_test['paid_units_new'],y_pred)
RMSE = rmse(y_test['paid_units_new'],y_pred)
MAE = meanabs(y_test['paid_units_new'],y_pred)
from sklearn.metrics import r2_score
import statistics
Mean = statistics.mean(y_test['paid_units_new'])
R_squared = r2_score(y_test['paid_units_new'], y_pred)
print(f'Model  R_squared: {R_squared:.3f}')
print(f'Model  Mean: {Mean:.3f}')
print(f'Model RMSE: {RMSE:.3f}')
print(f'Model  MSE: {MSE:.3f}')
print(f'Model  MAE: {MAE:.3f}')

##Grid Search

Regression

In [ ]:
%python
parameters = {"n_estimators": [10, 20, 30],
              "max_depth": [3, 5, 10, None],
              "max_features": [1, 5, 10],
              'min_samples_split': [2, 5, 10],
              'min_samples_leaf': [1, 5, 10],
              "min_weight_fraction_leaf":[2,3,5,8,10],
              "max_features":["sqrt", "log2", None],
              "bootstrap": [True, False],
              "criterion": ["squared_error", "absolute_error", "poisson"]}