<a href="https://colab.research.google.com/github/jasonfangmagic/Stackoverflow/blob/main/Stackoverflow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Sklearn Evaluation Metrics

https://scikit-learn.org/stable/modules/model_evaluation.html

#Databricks

R to SparkDataframe to Python.

In [ ]:

%r
library(SparkR)
df <- createDataFrame(df_ns_weekly_units)
createOrReplaceTempView(df, "test_df")
head(df)

In [ ]:
%python
df = spark.sql("select * from test_df")
df.show()

In [ ]:
%python
py_df_ns_weekly_units = df.toPandas()

In [ ]:
%python
py_df_ns_weekly_units.head()

Only use matplotlib 3.2.0. Install before convert Spark dataframe to pandas. Date July 18th, 2022

In [ ]:
%python 
pip install matplotlib==3.2.0

R to SparkDataframe to Spark sql dataframe

In [ ]:
%r
library(SparkR)
df <- createDataFrame(df_ns_spend_spread)
createOrReplaceTempView(df, "test_df")

In [ ]:
%python
df = spark.sql("select * from test_df")

In [ ]:
################# Drop table first if "Spend" exists
#%sql
#DROP TABLE Spend;

In [ ]:
%python
df.write.option('header','true').saveAsTable("Spend")

In [ ]:
%sql
select * from Spend

#Adding new table

In [ ]:
%python
# File location and type
file_location = "/FileStore/tables/L1.csv"
file_type = "csv"

# CSV options
infer_schema = "false"
first_row_is_header = "true"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
df = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .load(file_location)

display(df)

In [ ]:
%python
temp_table_name = "ll_budget"

df.createOrReplaceTempView(temp_table_name)

In [ ]:
%python
ll_budget = spark.sql("select * from ll_budget")

In [ ]:
ll_budget <- sprintf("
  Select 
*
  From ll_budget

", DATE_FISCAL_WEEK_MIN, DATE_FISCAL_WEEK_MAX
)

df_ll_budget <- ll_budget %>% 
  SparkR::sql() %>% 
  as.data.frame()


display(df_ll_budget)

#Model

Normalization

#Data Manipulation

Numpy to Pandas

In [ ]:
y_pred = pd.DataFrame(y_pred, columns = ['paid_units_pred'])

Drop Index

In [ ]:
y_test = y_test.reset_index(drop=True)

Find position of the outlier.

In [ ]:
%python
#find position of the outlier
i, j = (df.applymap(lambda x: str(x).startswith('Y'))).values.nonzero()
t = list(zip(i, j))
print (t)

Get Dummy Variables

In [ ]:
%python
df = pd.get_dummies(df, prefix=['move_units'], 
                    columns=['move_units'])

In [ ]:
%python
df = df.drop(['move_units_N'],axis=1)

Series to Dataframe. When df.shape = (10,), Change it to (10,1)

In [ ]:
test = test.to_frame()

Pandas meet two conditions

In [ ]:
test = xy[(xy['fiscal_year'] == MODEL_TEST_FISCAL_YR) & (xy['fiscal_quarter'] == MODEL_TEST_FISCAL_QTR)]

Group by in Python

In [ ]:
train1 = train.groupby(['fiscal_year','fiscal_quarter']).sum()

Make the Date column as index

In [ ]:
xy['date'] = xy.index

Replace 0 with mean

In [ ]:
from sklearn.impute import SimpleImputer
impute = SimpleImputer(missing_values=0,strategy='mean')

In [ ]:
c = list(xy)
df1 = pd.DataFrame(impute.fit_transform(xy), columns=c)

Find Min/Max

In [ ]:
print(xy.min())

Negative numbers to 0

In [ ]:
xy['col_1'] = xy['col_1'].clip(lower=0)

#Data Presentation for Sklearn Predictions

In [ ]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 10, random_state = 0)
regressor.fit(X_train, y_train)

In [ ]:
y_pred = regressor.predict(X_test)

In [ ]:
y_pred = pd.DataFrame(y_pred, columns = ['paid_units'])

In [ ]:
#rename paid units
y_pred.rename(columns={"paid_units": "paid_units_pred"}, inplace=True)
y_pred.head()

In [ ]:
y_test1 = y_test.reset_index(level=0)

In [ ]:
#rename paid units
y_test1.rename(columns={"paid_units": "paid_units_true"}, inplace=True)
y_test1.head()

In [ ]:
results = y_test1.merge(y_pred, how='outer', left_index=True, right_index=True)

In [ ]:
results.set_index('fiscal_week',inplace=True)

In [ ]:
results['diff']=results['paid_units_true']-results['paid_units_pred']

In [ ]:
results['pct'] = results['diff']/results['paid_units_true']

In [ ]:
results.loc['Total']= results.sum()

#Plots

##Two Variables Plots

In [ ]:
title = 'MMX EstoreNS New'
ylabel='paid_units'
xlabel='total_budget'

ax = image['paid_units'].plot(figsize=(18,6),title=title)
ax.autoscale(axis='x',tight=True)
ax.set(xlabel=xlabel, ylabel=ylabel)

In [ ]:
ax1 = xy.plot.scatter(x='ll_tvsf',
                      y='paid_units',
                      c='DarkBlue')

## Pandas where clause in SQL

In [ ]:
y = df[(df['fiscal_year'] == MODEL_TEST_FISCAL_YR) & (df['fiscal_quarter'] == MODEL_TEST_FISCAL_QTR)]

In [ ]:
y = df[(df['fiscal_year'] == 2020) & (df['fiscal_quarter'] == 1)]

#Time Series

# Set Time Series Frequency

https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#anchored-offsets

In [ ]:
X1=X1.asfreq('W-SAT')
print(pd.infer_freq(X1.index))

New Row in R

In [ ]:
df_ns_spend_spread[nrow(spend_spread) + 1,] <- c(as.Date.numeric("2022-07-01"), 2021,3, "Americas",1 ,0,1, 2,10, 20,20,10, 20,10, 20,20,10, 27)

Convert all string columns to numeric in R

In [ ]:
df_ns_email_spread = df_ns_email_spread %>% mutate_if(is.character,as.numeric)

Excel Find number based on text

#Evaluation

Regression

In [ ]:
%python
MSE = mse(y_test['paid_units_new'],y_pred)
RMSE = rmse(y_test['paid_units_new'],y_pred)
MAE = meanabs(y_test['paid_units_new'],y_pred)
from sklearn.metrics import r2_score
import statistics
Mean = statistics.mean(y_test['paid_units_new'])
R_squared = r2_score(y_test['paid_units_new'], y_pred)
print(f'Model  R_squared: {R_squared:.3f}')
print(f'Model  Mean: {Mean:.3f}')
print(f'Model RMSE: {RMSE:.3f}')
print(f'Model  MSE: {MSE:.3f}')
print(f'Model  MAE: {MAE:.3f}')

##Grid Search

Regression

In [ ]:
%python
parameters = {"n_estimators": [10, 20, 30],
              "max_depth": [3, 5, 10, None],
              "max_features": [1, 5, 10],
              'min_samples_split': [2, 5, 10],
              'min_samples_leaf': [1, 5, 10],
              "min_weight_fraction_leaf":[2,3,5,8,10],
              "max_features":["sqrt", "log2", None],
              "bootstrap": [True, False],
              "criterion": ["squared_error", "absolute_error", "poisson"]}

#Deep Learning

Convert pandas or numpy for ANN traning

In [ ]:
X_train = np.asarray(X_train).astype('float32')

#SQL

Select top 10 rows

In [ ]:
select top 10* from database