<a href="https://colab.research.google.com/github/jasonfangmagic/Stackoverflow/blob/main/Stackoverflow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Databricks

R to Python

In [ ]:

%r
library(SparkR)
df <- createDataFrame(df_ns_weekly_units)
createOrReplaceTempView(df, "test_df")
head(df)

In [ ]:
%python
df = spark.sql("select * from test_df")
df.show()

In [ ]:
%python
py_df_ns_weekly_units = df.toPandas()

In [ ]:
%python
py_df_ns_weekly_units.head()

R to SparkDataframe to Spark sql dataframe

In [ ]:
%r
library(SparkR)
df <- createDataFrame(df_ns_spend_spread)
createOrReplaceTempView(df, "test_df")

In [ ]:
%python
df = spark.sql("select * from test_df")

In [ ]:
%python
df.write.option('header','true').saveAsTable("Spend")

In [ ]:
%sql
select * from Spend

#Time Series

https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#anchored-offsets

## Set Time Series Frequency

In [ ]:
X1=X1.asfreq('W-SAT')
print(pd.infer_freq(X1.index))

New Row in R

In [ ]:
df_ns_spend_spread[nrow(df_ns_spend_spread) + 1,] <- c(as.Date.numeric("2022-07-02"), 2023,2, "Americas",468.38 ,0,2334, 20,10, 20,20,10, 20,10, 20,20,10, 27)

df_ns_spend_spread[nrow(df_ns_spend_spread) + 1,] <- c(as.Date.numeric("2022-07-09"), 2023,2, "Americas",468.38 ,0,2334, 20,10, 20,20,10, 20,10, 20,20,10, 28)

df_ns_spend_spread[nrow(df_ns_spend_spread) + 1,] <- c(as.Date.numeric("2022-07-16"), 2023,2, "Americas",468.38 ,0,2334, 20,10, 20,20,10, 20,10, 20,20,10, 29)

df_ns_spend_spread[nrow(df_ns_spend_spread) + 1,] <- c(as.Date.numeric("2022-07-23"), 2023,2, "Americas",468.38 ,0,2334, 20,10, 20,20,10, 20,10, 20,20,10, 30)

df_ns_spend_spread[nrow(df_ns_spend_spread) + 1,] <- c(as.Date.numeric("2022-07-30"), 2023,2, "Americas",468.38 ,0,2334, 20,10, 20,20,10, 20,10, 20,20,10, 31)

df_ns_spend_spread[nrow(df_ns_spend_spread) + 1,] <- c(as.Date.numeric("2022-08-06"), 2023,2, "Americas",468.38 ,0,2334, 20,10, 20,20,10, 20,10, 20,20,10, 32)

df_ns_spend_spread[nrow(df_ns_spend_spread) + 1,] <- c(as.Date.numeric("2022-08-13"), 2023,2, "Americas",468.38 ,0,2334, 20,10, 20,20,10, 20,10, 20,20,10, 33)

df_ns_spend_spread[nrow(df_ns_spend_spread) + 1,] <- c(as.Date.numeric("2022-08-20"), 2023,2, "Americas",468.38 ,0,2334, 20,10, 20,20,10, 20,10, 20,20,10, 34)

df_ns_spend_spread[nrow(df_ns_spend_spread) + 1,] <- c(as.Date.numeric("2022-08-27"), 2023,2,"Americas",468.38 ,0,2334, 20,10, 20,20,10, 20,10, 20,20,10, 35)

df_ns_spend_spread[nrow(df_ns_spend_spread) + 1,] <- c(as.Date.numeric("2022-09-03"), 2023,2, "Americas",468.38 ,0,2334, 20,10, 20,20,10, 20,10, 20,20,10, 36)

df_ns_spend_spread[nrow(df_ns_spend_spread) + 1,] <- c(as.Date.numeric("2022-09-10"), 2023,2, "Americas",468.38 ,0,2334, 20,10, 20,20,10, 20,10, 20,20,10, 37)

df_ns_spend_spread[nrow(df_ns_spend_spread) + 1,] <- c(as.Date.numeric("2022-09-17"), 2023,2, "Americas",468.38 ,0,2334, 20,10, 20,20,10, 20,10, 20,20,10, 38)

df_ns_spend_spread[nrow(df_ns_spend_spread) + 1,] <- c(as.Date.numeric("2022-09-24"), 2023,2, "Americas",468.38 ,0,2334, 20,10, 20,20,10, 20,10, 20,20,10, 39)

Convert all string columns to numeric in R

In [ ]:
df_ns_email_spread = df_ns_email_spread %>% mutate_if(is.character,as.numeric)

Excel Find number based on text